/* =============================================================================
   NORMALIZATION
========================================================================== */
*  {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
[hidden] { display: none; }

ul, ol {
    list-style: none;
}


/* =============================================================================
   COMMONS
========================================================================== */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    background-color: #EEEEEE;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: x-small;
    color: #666666;
}

a {
    color: #004756;
    text-decoration: underline;
    font-weight: bold;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
}

[role='header'] {
    padding-top: 18px;
    text-align: center;
    background: #FFF;
}

.logo,
.logo-small{
    display: inline-block;
    text-indent: -999em;
    background-image: url(../image/logo.png);
    background-repeat: no-repeat;
}

.logo {
    width: 330px;
    height: 250px;
    background-position:20px top;
}

.logo-small {
    width: 110px;
    height: 100px;
    background-position: 14px -110px;
}

.claim {
    font-family: 'Rancho', cursive;
    font-weight: normal;
}

[role='header'] .claim {
    font-size: 2em;
    font-style: italic;
    font-weight: normal;

    margin-top: -20px;
    padding-bottom: 60px;
}

[role='header'] nav li,
[role='header'] nav a {
    display: inline-block;
}

[role='header'] nav a {
    padding: .6em 1.3em;    
    font-size: 2em;
    text-decoration: none;
    color: #666666;    
    font-weight: bold;    
    -webkit-transition: color .3s;
    transition: color .3s;
}

[role='header'] nav a:hover {
    color: #333;
    background-color: #EEEEEE;
}

[role='header'] nav .active {
    background-color: #EEEEEE;
}

[role='header'] nav .active a {
    color: #333333;
}

footer {

    padding-top: 3.3em;
    text-align: center;
    background: #FFF;
}

footer iframe {
    margin-top: 40px;
}

footer .claim {
    font-size: 1.6em;
    font-style: italic;
    color: #FFF;
    margin-top: -16px;
}

footer > p{
    margin-top: 2.6em;    
    padding: .8em 0;
    color: #333333;
    font-weight: bold;
    font-size: 1.3em;
}

section header,
.scoped {
    margin: 0 38px;
}

.ttr {
    text-align: right;
}

section header .m_txt{
    margin-top: -2.5em;
    padding: 0 0 25px 0;
}

/* Headings */
.heading-xl,
.heading-l,
.heading-m {
    color: #333333;
    text-shadow: 1px 0 0 #FFF;
    padding-bottom: .5em;
}

.heading-xl {
    font-size: 3em;
    padding:2em 0 1em;
}

.heading-l {
    font-size: 2.6em;
}

.heading-m {
    font-size: 2.2em;
    color: #999999;
}

.heading-m em {
    color: #666;
    font-weight: normal;
    font-size: .8em;
}

/* Mod text */
.m_txt {
    padding: 18px;
}

.m_txt p,
.m_txt ul,
.m_txt ol,
.m_txt dl {
    font-size: 1.6em;
    text-shadow: 1px 0 0 #FFF;
    padding-bottom: 2em;
    line-height: 1.4em;
}

.m_txt ul li {
    padding-bottom: 0.2em;
}

.m_txt :last-child:not(a) {
    padding-bottom: 0;
}

.m_txt .gist {
    margin-top: -10px;
    margin-bottom: 40px;
    font-size: 1.4em;
    line-height: 1.3em;
}

.m_txt .heading-xl {
    padding-top: 1em;
}

.m_txt dl {
    padding-top: 10px;
    padding-left: 30px;
}

.m_txt dt {
    color: #333;
    font-weight: bold;
    padding-bottom:.4em;
}

.m_txt dt em{
    color: #666666;
    font-weight: normal;
    font-style: italic;
}

.m_txt dd {
    padding-bottom: 1em;
}

.m_txt hr {
    margin-bottom: 30px;
    border-width: 1px 0 0 0 0;
    border-top: 1px solid #CCC;
}

/* tags */
.m_tags {
    margin-bottom: 30px;
}

.m_tags li {
    padding-bottom:4px;
}

.m_tags li,
.m_tags a {
    display: inline-block;
}

.m_tags li {
    margin-right: 4px;
}

.m_tags a {
    color: #666666;
    font-size: 1.6em;
    background: #FFF;
    padding: .3em .6em;
    text-decoration: none;
}

.m_tags a:hover {
    color: #FFF;
    background-color: #004756;
}

/* Gridster styles */
.demo {
    margin: 3em 0;
    padding: 7.5em 0 5.5em;
    background: #fff;
    color: #000000;
}

.gridster {
    width: 1024px;
    margin: 0 auto;
    background-color: #EEEEEE;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.gridster .gs-w {
    background: #FFF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.gridster .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(15, 15, 15, 0.20) !important;
}

article,
.m_doc_method {
    background: #FFF;
}

article:not(:last-child),
.m_doc_method:not(:last-child) {
    margin-bottom: 50px;
}

.m_doc_method > h3 {
    background-color: #E5E5E5;
    padding: 1.4em 2em;
    color: #333333;
    font-size: 1.8em;
}

.m_doc_method .heading-m {
    color: #333333;
}

#intro  {
    overflow: hidden;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 30%;
    margin-top: 5%;
    width: 45%;
}